/* Import scoped CSS rules for components */
@import "./_components.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.w-auto {
    width: auto;
}

@media (min-width: 768px) {
    .md\:w-1\/3 {
        width: 33.33333333333333333%;
    }
}
